# Lesson One
## Fly Ass Arithmetic Operations

In [2]:
#Addition
23+35+6

64

In [2]:
#Subtraction
56-100

-44

In [3]:
#Multiplication
(3**6)*6

4374

In [4]:
#BODMAS?
(56+56-10)**3

1061208

In [3]:
#MoreBODMAS
(9+5)*8//(9-3)

18

In [6]:
#ImustreallylovecomplicatedMaths
(1000*8) + (56-8) *(4**2)

8768

In [7]:
#Asexyfloat
float (5000/5)

1000.0

In [8]:
#ooooANinteger
5000//5

1000

In [21]:
#Moreinteflex
int ((36+25+15+6+200)/5)

56

In [22]:
#Iwillliketothrowyouinthesea
float ((36+25+15+6+200)/5)

56.4

# Lesson Two
## Print Panther

In [10]:
#Look at me I am new to python
print ("Hello world.")

Hello world.

In [11]:
#I need a ton of help
print ("I am new to this. Help?")

I am new to this. Help?

In [12]:
#MorePrint
print ("Mary has a little lamb, it will make a nice pot of isi-ewu")

Mary has a little lamb, it will make a nice pot of isi-ewu

In [13]:
#My first python lie
print ("Tu aimes jupyter")

Tu aimes jupyter

In [14]:
#Print print print
print ("Ali's toy is creepy")

Ali's toy is creepy

In [15]:
#What is my life if I do not make a Hamilton reference
print ('"History has its eyes on you"')

"History has its eyes on you"

In [16]:
#Yes, I have two degrees in Literature
print ('"To thine ownself, be true-Shakespare"')

"To thine ownself, be true-Shakespare"

In [17]:
#This is Hamilton, but it feels real
print ("I imagine death so many times, it feels like a memory")

I imagine death so many times, it feels like a memory

In [18]:
#Yes
print ("#EndSars")

#EndSars

In [19]:
#PRINT
print (3*6==6**3)

False

# Lesson Three

## Booing Booleans

In [4]:
#What is a Boolean?
3<3

False

In [24]:
#It is a game of 21 questions
4<6+2

True

In [5]:
#More and More questions
3*6==6**3

False

In [26]:
#A sexy variable thrown into a Boolean
a=100
a<50

False

In [27]:
#Another sexiness
b=1+5
c=3**4
c<b

False

In [28]:
#I have no words
True==False

False

In [29]:
#Meh
1!=0

True

In [30]:
#Poor Ada
Ada=(10*9)**3
Ada>1000000

False

In [31]:
#I need to put the pipe down
10/2>=10//3

True

In [32]:
#I am sorry Harry
Yoda=53.4
Harry=53
Harry<Yoda

True

# Lesson Four

## All hail Queen Variable

In [33]:
#Look at me, I like accounting
price_of_groceries=2000
price_of_rent=4000
price_of_salary=10000
price_of_salary-(price_of_groceries-price_of_rent)

12000

In [50]:
#This is a good variable
nb_of_lateloans= 150000
nb_of_active_loans= 50000

nb_of_lateloans>nb_of_active_loans

True

In [36]:
#Variable
nb_of_children=45
nb_of_boys=15
nb_of_girls=95
nb_of_children==nb_of_boys

False

In [37]:
nb_of_boys-nb_of_girls

-80

In [38]:
nb_of_children//nb_of_boys

3

In [39]:
#Is this a variable and an Int???
aa= nb_of_boys-nb_of_girls
bb= nb_of_children+nb_of_girls
int (bb/aa)

-1

In [8]:
#What is a variable?
Elizabeth=15
Gina=18
Elizabeth*Gina

270

In [9]:
#What is a variable?
Elizabeth!= Gina

True

In [45]:
#A truck load of bullshit
Logic= 1
Truth=2
Emotions=5
Logic*Emotions

5

In [44]:
#The future is female
men=-10
women=1
women>men

True